<!DOCTYPE html>
<html>
<head>

    <title>About Project</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>

<body>

<div class="login-container">

    <h1>About AI Resume Screener</h1>

    <p style="margin-top:20px; line-height:28px; color:#555;">

        AI Resume Screener is a smart web application that helps users analyze resumes 
        and match skills with job requirements.

        <br><br>

        Users can upload resumes in PDF format and instantly check matching skills, 
        missing skills, and overall score.

        <br><br>

        Built using:

        <br>

        • Python Flask

        <br>

        • HTML & CSS

        <br>

        • PDFPlumber

    </p>

    <div class="links">

        <a href="/">Back to Home</a>

    </div>

</div>

</body>
</html>